html,body {
    height: 100%;
    overflow: hidden;
}
.tab {
    background-color: gray;
    height: 39px;
    width: 800px;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-400px);
    z-index: 2;
}

.tab_list {
    overflow-x: auto;
    overflow-y: hidden;
    background: #7e7e7e;
}

.tab_list ul {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.tab_list li {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    list-style: none;
}

.tab_list .current {
    background-color: #132314;
    color: #fff;
}

.item_info {
    padding: 20px 0 0 20px;
}

.item {
    display: none;
}

.tab_con {
    width: 800px;
    position: relative;
    padding: 10px;
    margin: 75px auto auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: calc(100% - 130px);
}

.tab_con .item {
    height: 100%;
    overflow: auto;
}

.tab_con .count {
    position: fixed;
    top: 55px;
    left: 50%;
    background: #fff;
    transform: translateX(-379px);
}

.tab_con .new {
    background: #f3d6a2;
    color: #008080;
    padding: 5px;
}

.tab_con .old {
    background: #ddd;
    padding: 5px;
    color: #444;
}

.tab_con pre {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

h4 {
    color: #444;
    cursor: pointer;
    margin: 0 0 5px;
    font-size: 14px;
}

.commit-content {
    overflow: hidden;
    transition: all 0.3s;
}

div[for] {
    overflow: hidden;
    transition: all 0.3s;
}

.click-for-show {
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}
pre code.hljs {
    display: block;
    padding: 0;
    overflow-x: auto;
    font-family: 'Consolas', 'Courier New', monospace;
    font-weight: 400;
}
