<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>git提交统计-代码审查管理工具</title>
    <link href="../template/t.css" rel="stylesheet">
    <link rel="stylesheet" href="../highlight/styles/xcode.min.css">
</head>
<body>
<div class="tab">
    <div class="tab_list">
        <ul>
            {{person}}
        </ul>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="回顶部">返回顶部</button>
<div class="tab_con">
    {{personContent}}
    <div style="margin-top:20px;">Powered By <a href="http://www.mizuiren.com">网博客栈</a></div>
</div>
<script src="../template/t.js"></script>
<script src="../highlight/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
